<form action="https://lemondeetcetera.us19.list-manage.com/subscribe/post?u=2dc5458cf58092ae84e1b97e9&amp;id=cccd575f47" method="post" class="" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" placeholder="monmail@example.com" name="EMAIL" id="mce-EMAIL"/>
    </div>
    <button class="" type="submit"><span>S'abonner</span></button>
    <script type="text/javascript">(function(g,h,o,s,t){h[o]('.location')[s]=h[o]('.location')[s] || g.location.href;h[o]('.referrer')[s]=h[o]('.referrer')[s] || h.referrer;})(window,document,'querySelector','value');</script>
</form>
